
  .cards {
    display: flex;
    flex-wrap: wrap;
    width:80%;
    list-style: none; 
    margin: auto;
    padding: 0;
  }
  .Reportcard {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  .cards:hover {
    color: #fff;
    background: linear-gradient(#1493d3,#3d5a80,#293241);
  }
  .icon {
    width: 75px;
    border-radius: 100%;
    transition: 750ms;
  }
  .icon:hover {
    transform: scale(1.2);
  }
  .Reportcard .card-title {
      font-size: 1.2rem;
      margin-top: 13px;
  }
  .card-sub {
      font-size: 1rem;
      margin-top: -40px;
  }
  .Reportcard .card-content {
    margin: 40px 0;
  }